---

---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Joel Plaza. Empecé en la programación haciendo un Escritorio web,
      tenía 16 años. Actualmente estoy estudiando la <strong
        >carrera de Ingenieria Informatica.</strong
      >
    </p>
    <p>
      Entre mis éxitos destaco que durante el <strong>Grado Superior</strong>, realice junto a mi
      compañero la creación de un sitio web.
    </p>
    <p>Poner algo rollo experiencia personal(de desarrollo)</p>
  </div>
  <img
    width="200"
    height="200"
    class="rounded-full order-1 md:order-2"
    src="/profile.jpg"
    alt="Profile picture"
  />
</article>
